<!DOCTYPE html>
{% load static %}

<html>
	<title>W3.CSS Template</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<body>
		<div class="bar shadow-2">
			<a href="#" class="bar-item button hover-orange">
				<i class="fas fa-home"></i>
				<span class="hide-medium hide-small">Home</span>
			</a>
			<a href="#" class="bar-item button hover-orange">
				<i class="fas fa-users"></i> <span class="hide-medium hide-small">Characters</span>
			</a>
			<a href="#" class="bar-item button hover-orange" style="float: right;">
				<i class="fas fa-sign-out-alt"></i> <span class="hide-medium hide-small">Log Out</span>
			</a>
			<a href="#" class="bar-item button hover-orange" style="float: right;">
				<i class="fas fa-user-circle"></i> <span class="hide-medium hide-small">My Account</span>
			</a>
		</div>

		<div class="page">
			{% block content %}
			{% endblock %}
		</div>

		<footer class="shadow-2">
			<p class="orange center">Lorem Ipsum placeholder</p>
		</footer>

	</body>
	<script type="text/javascript" src="{% static 'js/accordion.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/dropDownMenu.js' %}"></script>
</html>
