{% extends 'templates/base.html' %}
{% load static %}

{% block content %}
	<!-- Left Column -->
	<div class="w3-third">
		<div class="custom-text-grey w3-card-4" style="background-image: url({% static 'images/tiling/manuscript.jpg' %})">
			<div class="w3-container">
				{% block leftColumn %}
				{% endblock %}
			</div>
		</div><br>
	</div>

	<!-- Right Column -->
	<div class="w3-twothird">
		<div class="w3-container w3-card-4 custom-text-grey w3-margin-bottom" style="background-image: url({% static 'images/tiling/manuscript.jpg' %})">
			<div class="w3-container">
				{% block rightUpper %}
				{% endblock %}
			</div>
		</div>
		<div class="w3-container w3-card-4 custom-text-grey" style="background-image: url({% static 'images/tiling/manuscript.jpg' %})">
			<div class="w3-container">
				{% block rightLower %}
				{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
